<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>АСОЗ - Панель керування</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../../static/resources/polyfills/dialog/dialog-polyfill.css"
          th:href="@{/resources/polyfills/dialog/dialog-polyfill.css}">
    <link rel="stylesheet" type="text/css" href="../../static/resources/mdl/selectfield/mdl-selectfield.min.css"
          th:href="@{/resources/mdl/selectfield/mdl-selectfield.min.css}">
    <link href="../../static/resources/css/styles.css" th:href="@{/resources/css/styles.css}"
          rel="stylesheet" type="text/css">
</head>
<body>
<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Автоматизована система обліку запчастин</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a th:href="@{/index}" class="mdl-layout__tab">Контрагенти</a>
            <a th:href="@{/items}" class="mdl-layout__tab">Товари</a>
            <a th:href="@{/adds}" class="mdl-layout__tab is-active">Операції додавання</a>
            <a th:href="@{/removes}" class="mdl-layout__tab">Операції відпускання</a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
            <form id="logout-form" th:action="@{/logout}" method="post">
                <a href="javascript:{}"
                   onclick="document.getElementById('logout-form').submit(); return false;">Вийти</a>
            </form>
        </span>
    </div>
    <dialog id="item-add-create" class="mdl-dialog">
        <form th:action="@{/itemAddCreate}" method="post">
            <h4 class="mdl-dialog__title" style="font-size: 1rem; text-align: center;">Редагування операції
                прибуття</h4>
            <div class="mdl-dialog__content">
                <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                    <select id="itemNameSelect" name="itemName" class="mdl-selectfield__select">
                        <option th:each="itemName : ${itemNames}" th:value="${itemName.id}"
                                th:text="${itemName.itemName}">
                            option 1
                        </option>
                    </select>
                    <label class="mdl-selectfield__label" for="itemNameSelect">Назва</label>
                </div>
                <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                    <select id="myselect" name="itemType" class="mdl-selectfield__select">
                        <option th:each="itemType : ${itemTypes}" th:value="${itemType.id}"
                                th:text="${itemType.typeName}">
                            option 1
                        </option>
                    </select>
                    <label class="mdl-selectfield__label" for="myselect">Оберіть тип</label>
                </div>
                <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                    <select id="counterAgentSelect" name="counterAgent" class="mdl-selectfield__select">
                        <option th:each="agent : ${agents}" th:value="${agent.id}"
                                th:text="${agent.firstName + ' ' + agent.lastName}">
                            option 1
                        </option>
                    </select>
                    <label class="mdl-selectfield__label" for="counterAgentSelect">Оберіть контрагента</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="number" name="count" id="count">
                    <label class="mdl-textfield__label" for="count">Кількість</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="number" name="price" id="price">
                    <label class="mdl-textfield__label" for="price">Ціна</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="date" name="date" id="date" th:value="${currentDate}">
                    <label class="mdl-textfield__label" for="date">Дата</label>
                </div>
            </div>
            <div class="mdl-dialog__actions">
                <button type="submit" class="mdl-button">Зберегти</button>
                <button type="button" class="mdl-button close" th:href="@{/adds}">Назад</button>
            </div>
        </form>
    </dialog>
    <main class="mdl-layout__content">
        <section>
            <div class="page-content">
                <div class="wrap">
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"
                           style="margin: 2em auto 0; z-index: 0; max-width: 999px;">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Номер</th>
                            <th>Дата</th>
                            <th>Кількість</th>
                            <th>Ціна</th>
                            <th>Сума</th>
                            <th>Контрагент</th>
                            <th>Товар</th>
                            <th>Редагувати</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="itemAdd : ${itemAdds}">
                            <td class="mdl-data-table__cell--non-numeric" th:text="${itemAdd.id}">Acrylic (Transparent)
                            </td>
                            <td th:text="${itemAdd.date}">25</td>
                            <td th:text="${itemAdd.count}">$2.90</td>
                            <td th:text="${itemAdd.price}">$2.90</td>
                            <td th:text="${itemAdd.count * itemAdd.price}">12</td>
                            <td th:text="${itemAdd.counterAgent.firstName + ' ' + itemAdd.counterAgent.lastName}">32
                            </td>
                            <td th:text="${itemAdd.itemName.itemName + '  (' + itemAdd.itemType.typeName + ')'}"></td>
                            <td><a th:href="@{/editItemAdd(id=${itemAdd.id})}">Редагувати</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="add-btn"
                         style="margin-top: -1.25em; z-index: 1; display: flex; justify-content: center;">
                        <button id="add-item-add"
                                class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
                                style="margin-bottom: 0; height: 35px; min-width: 35px; width: 35px;">
                            <i class="material-icons" style="font-size: 20px;">add</i>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<script>
    var dialog = document.querySelector('#item-add-create');
    var showDialogButton = document.querySelector('#add-item-add');
    if (!dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
    }
    showDialogButton.addEventListener('click', function () {
        dialog.showModal();
    });
    dialog.querySelector('.close').addEventListener('click', function () {
        dialog.close();
    });
</script>
<script>
    var dialog1 = document.querySelector('#item-create-dialog');
    var showDialogButton1 = document.querySelector('#add-item');
    if (!dialog1.showModal) {
        dialogPolyfill.registerDialog(dialog1);
    }
    showDialogButton1.addEventListener('click', function () {
        dialog1.showModal();
    });
    dialog1.querySelector('.close').addEventListener('click', function () {
        dialog1.close();
    });
</script>
<script src="../../static/resources/polyfills/dialog/dialog-polyfill.js"
        th:src="@{/resources/polyfills/dialog/dialog-polyfill.js}"></script>
<script src="../../static/resources/mdl/selectfield/mdl-selectfield.min.js"
        th:src="@{/resources/mdl/selectfield/mdl-selectfield.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
<script th:src="@{/resources/js/jquery.maskedinput.min.js}"
        src="../../static/resources/js/jquery.maskedinput.min.js"></script>
</body>
</html>