<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>АСОЗ - Панель керування</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="../../static/resources/css/styles.css" th:href="@{/resources/css/styles.css}"
          rel="stylesheet" type="text/css">
</head>
<body>
<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-dialog__title" style="font-size: 1.25rem; margin: 0 auto; color: rgba(255, 255, 255, .6);">Автоматизована система обліку запчастин</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Контрагенти</a>
            <a href="#fixed-tab-2" class="mdl-layout__tab">Товари</a>
            <a href="#fixed-tab-3" class="mdl-layout__tab">Операції додавання</a>
            <a href="#fixed-tab-4" class="mdl-layout__tab">Операції відпускання</a>
        </div>
    </header>
    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
            <div class="page-content"><p>контрагенти</p></div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-2">
            <div class="page-content"><p>товари</p></div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-3">
            <div class="page-content"><p>додавання</p></div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-4">
            <div class="page-content"><p>відпускання</p></div>
        </section>
    </main>
</div>
<form th:action="@{/logout}" method="post">
    <button type="submit">Вийти</button>
</form>
</body>
</html>