<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>АСОЗ - Панель керування</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../../static/resources/polyfills/dialog/dialog-polyfill.css"
          th:href="@{/resources/polyfills/dialog/dialog-polyfill.css}">
    <link rel="stylesheet" type="text/css" href="../../static/resources/mdl/selectfield/mdl-selectfield.min.css"
          th:href="@{/resources/mdl/selectfield/mdl-selectfield.min.css}">
    <link href="../../static/resources/css/styles.css" th:href="@{/resources/css/styles.css}"
          rel="stylesheet" type="text/css">
</head>
<body>
<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Автоматизована система обліку запчастин</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a th:href="@{/index}" class="mdl-layout__tab">Контрагенти</a>
            <a th:href="@{/items}" class="mdl-layout__tab">Товари</a>
            <a th:href="@{/adds}" class="mdl-layout__tab">Операції додавання</a>
            <a th:href="@{/removes}" class="mdl-layout__tab is-active">Операції відпускання</a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
            <form id="logout-form" th:action="@{/logout}" method="post">
                <a href="javascript:{}"
                   onclick="document.getElementById('logout-form').submit(); return false;">Вийти</a>
            </form>
        </span>
    </div>
    <main class="mdl-layout__content">
        <section>
            <div class="page-content">
                <div class="wrap">
                    <dialog id="item-create-dialog" class="mdl-dialog">
                        <form th:action="@{/itemTypeAdd}" method="post">
                            <h4 class="mdl-dialog__title" style="font-size: 1.25rem; text-align: center;">Додавання
                                нового типу</h4>
                            <div class="mdl-dialog__content">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" name="typeName" id="typeName">
                                    <label class="mdl-textfield__label" for="typeName">Назва типу</label>
                                </div>
                            </div>
                            <div class="mdl-dialog__actions">
                                <button type="submit" class="mdl-button">Зберегти</button>
                                <button type="button" class="mdl-button close">Назад</button>
                            </div>
                        </form>
                    </dialog>
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"
                           style="margin: 2em auto 0; z-index: 0;">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Номер</th>
                            <th>Дата</th>
                            <th>Кількість</th>
                            <th>Ціна</th>
                            <th>Сума</th>
                            <th>Контрагент</th>
                            <th>Товар</th>
                            <th>Редагувати</th>
                            <th>Видалити</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="itemRemove : ${itemRemoves}">
                            <td class="mdl-data-table__cell--non-numeric" th:text="${itemRemove.id}">Acrylic (Transparent)
                            </td>
                            <td th:text="${itemRemove.date}">25</td>
                            <td th:text="${itemRemove.count}">$2.90</td>
                            <td th:text="${itemRemove.price}">$2.90</td>
                            <td th:text="${itemRemove.count * itemRemove.price}">12</td>
                            <td th:text="${itemRemove.counterAgent.firstName + ' ' + itemRemove.counterAgent.lastName}">32</td>
                            <td th:text="${itemRemove.itemName.itemName + '  (' + itemRemove.itemType.typeName + ')'}"></td>
                            <td><a th:href="@{/editItem(id=${itemRemove.id})}">Редагувати</a></td>
                            <td><a th:href="@{/deleteItem(id=${itemRemove.id})}">Видалити</a></td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-3">
            <div class="page-content"><p>додавання</p></div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-4">
            <div class="page-content"><p>відпускання</p></div>
        </section>
    </main>
</div>
<script>
    var dialog1 = document.querySelector('#item-create-dialog');
    var showDialogButton1 = document.querySelector('#add-item');
    if (!dialog1.showModal) {
        dialogPolyfill.registerDialog(dialog1);
    }
    showDialogButton1.addEventListener('click', function () {
        dialog1.showModal();
    });
    dialog1.querySelector('.close').addEventListener('click', function () {
        dialog1.close();
    });
</script>
<script src="../../static/resources/polyfills/dialog/dialog-polyfill.js"
        th:src="@{/resources/polyfills/dialog/dialog-polyfill.js}"></script>
<script src="../../static/resources/mdl/selectfield/mdl-selectfield.min.js"
        th:src="@{/resources/mdl/selectfield/mdl-selectfield.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
<script th:src="@{/resources/js/jquery.maskedinput.min.js}"
        src="../../static/resources/js/jquery.maskedinput.min.js"></script>
</body>
</html>