* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.mdl-dialog {
    border: none;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    width: 280px;
    margin: auto auto;
}

.mdl-dialog__title {
    padding: 24px 24px 0;
    margin: 0;
    font-size: 2.5rem;
}

.mdl-dialog__actions {
    padding: 8px 8px 8px 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.mdl-dialog__actions > * {
    margin-right: 8px;
    height: 36px;
}

.mdl-dialog__actions > *:first-child {
    margin-right: 0;
}

.mdl-dialog__actions--full-width {
    padding: 0 0 8px 0;
}

.mdl-dialog__actions--full-width > * {
    height: 48px;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-right: 16px;
    margin-right: 0;
    text-align: right;
}

.mdl-dialog__content {
    padding: 20px 24px 24px 24px;
    color: rgba(0, 0, 0, 0.54);
}

.btn-block {
    display: flex;
    justify-content: center;
}

.mdl-button {
    margin-bottom: 2em;
}

.input-error {
    border-bottom: 1px solid #D32E2E;
}

.label-error {
    color: #D32E2E;
}

.error-block {
    background: #D32E2E;
    color: white;
    width: 100%;
    padding: .75em;
    text-align: center;
}

.error-block p {
    margin: 0;
}

.mdl-layout__header-row {
    padding: 0;
    margin-bottom: 1em;
}